@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap");

.poppins-400 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

html {
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

html:focus-within {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.6vw;
  scrollbar-color: #cfcccc #bdbdbd;
}

html::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #cfcccc;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #bdbdbd;
}
html::-webkit-scrollbar-thumb:active {
  background-color: #aca9a9;
}

html::-webkit-scrollbar-track {
  background-color: #757575;
}

.button-regular-hero {
  border: 2px solid #ff6f3c;
  border-radius: 3px;
  width: 100px;
  height: 35px;
  display: block;
  cursor: pointer;

  background: linear-gradient(to right, #ff6f3c 50%, #155263 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}

.button-regular {
  border: 2px solid #ff6f3c;
  border-radius: 3px;
  width: 100px;
  height: 30px;
  width: 120px;
  display: block;
  cursor: pointer;

  background: linear-gradient(to right, #ff6f3c 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}

.button-regular-hero:hover,
.button-regular:hover {
  background-position: left bottom;
}

.button-regular-text {
  text-align: center;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  line-height: 30px;
  color: #ff6f3c;
  transition: all 0.6s ease-out;
  display: block;
}

.button-regular-text:hover {
  color: white;
}

.App {
  text-align: center;
}
